body {
    background: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 28px;
    padding-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-size: 28px;

}

p.red {
    background-color: red;

}

p.verde {
    background-color: green;
}

p.amarelo {
    background-color: yellow;
}

p.ciano {
    background-color: cyan;
}

p.azul {
    background-color: blue;
}

p.rosa {
    background-color: rgb(245, 144, 245);
}

p.roxo {
    background-color: rgb(102, 28, 163);
}

p.marrom {
    background-color: rgb(102, 60, 58);
    font-size: 28px;
}