/* Estilos gerais */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Acerto no cabeçalho */ 

header, main, footer {
	margin: 0 auto;
	padding: 1vw;
	font-size: 1.2vw;
	font-size: min(16px, 1.5vw);
}

header {
	background-color: #333;
	color: #fff;
}

header h1 {
	margin: 0;
	padding: 20px;
}

/* Acerto nas listas */


.lista {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .lista li {
	flex: 1 0 auto;
	text-align: center;
	padding: 1vw;
	background-color: #ec9999;
	border: 1px solid #ccc;
	margin: 5px;
  }
  

nav a {
	color: #fff;
	text-decoration: none;
}


/* Estilos do conteúdo principal */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

img {
	float: right;
	margin-left: 10px;
	max-width: 20%;
	height: auto;
  }

  .container {
	width: 100%;
	overflow: hidden;
	font-size: 1vw;
  	font-size: min(16px, 2vw);
  }
  
  /* Estilos do rodapé */
footer {
	background-color: rgb(228, 12, 12);
	color: #fff;
	text-align: center;
	padding: 20px;
}
 